In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
import gensim
from gensim.utils import simple_preprocess
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
df=pd.read_csv('resume_data.csv',encoding='latin-1')

In [3]:
df

,resume_id,class,resume_text
0,resume_1,not_flagged,\rCustomer Service Supervisor/Tier - Isabella ...
1,resume_2,not_flagged,\rEngineer / Scientist - IBM Microelectronics ...
2,resume_3,not_flagged,\rLTS Software Engineer Computational Lithogra...
3,resume_4,not_flagged,TUTOR\rWilliston VT - Email me on Indeed: ind...
4,resume_5,flagged,\rIndependent Consultant - Self-employed\rBurl...
...,...,...,...
120,resume_121,not_flagged,\rBrattleboro VT - Email me on Indeed: indeed....
121,resume_122,not_flagged,\rResearch and Teaching Assistant - University...
122,resume_123,not_flagged,\rMedical Coder - Highly Skilled - Entry Level...
123,resume_124,flagged,\rWaterbury VT - Email me on Indeed: indeed.co...
124,resume_125,not_flagged,\rResearch and Development Scientist - Burling...

In [4]:
df=df[['resume_text','class']]

In [5]:
df

                                           resume_text        class
0    \rCustomer Service Supervisor/Tier - Isabella ...  not_flagged
1    \rEngineer / Scientist - IBM Microelectronics ...  not_flagged
2    \rLTS Software Engineer Computational Lithogra...  not_flagged
3     TUTOR\rWilliston VT - Email me on Indeed: ind...  not_flagged
4    \rIndependent Consultant - Self-employed\rBurl...      flagged
..                                                 ...          ...
120  \rBrattleboro VT - Email me on Indeed: indeed....  not_flagged
121  \rResearch and Teaching Assistant - University...  not_flagged
122  \rMedical Coder - Highly Skilled - Entry Level...  not_flagged
123  \rWaterbury VT - Email me on Indeed: indeed.co...      flagged
124  \rResearch and Development Scientist - Burling...  not_flagged

[125 rows x 2 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   resume_text  125 non-null    object
 1   class        125 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [7]:
df['class'].value_counts()

not_flagged    92
flagged        33
Name: class, dtype: int64

In [8]:
df['class']=df['class'].apply(lambda x:1 if x=='flagged' else 0)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_36020\701076567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class']=df['class'].apply(lambda x:1 if x=='flagged' else 0)

In [9]:
df

                                           resume_text  class
0    \rCustomer Service Supervisor/Tier - Isabella ...      0
1    \rEngineer / Scientist - IBM Microelectronics ...      0
2    \rLTS Software Engineer Computational Lithogra...      0
3     TUTOR\rWilliston VT - Email me on Indeed: ind...      0
4    \rIndependent Consultant - Self-employed\rBurl...      1
..                                                 ...    ...
120  \rBrattleboro VT - Email me on Indeed: indeed....      0
121  \rResearch and Teaching Assistant - University...      0
122  \rMedical Coder - Highly Skilled - Entry Level...      0
123  \rWaterbury VT - Email me on Indeed: indeed.co...      1
124  \rResearch and Development Scientist - Burling...      0

[125 rows x 2 columns]

In [10]:
df['resume_text']=df['resume_text'].apply(lambda x: x.replace('\r',''))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_36020\2852760748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['resume_text']=df['resume_text'].apply(lambda x: x.replace('\r',''))

In [11]:
df

                                           resume_text  class
0    Customer Service Supervisor/Tier - Isabella Ca...      0
1    Engineer / Scientist - IBM Microelectronics Di...      0
2    LTS Software Engineer Computational Lithograph...      0
3     TUTORWilliston VT - Email me on Indeed: indee...      0
4    Independent Consultant - Self-employedBurlingt...      1
..                                                 ...    ...
120  Brattleboro VT - Email me on Indeed: indeed.co...      0
121  Research and Teaching Assistant - University o...      0
122  Medical Coder - Highly Skilled - Entry LevelSu...      0
123  Waterbury VT - Email me on Indeed: indeed.com/...      1
124  Research and Development Scientist - Burlingto...      0

[125 rows x 2 columns]